body {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0f0b09;
    box-shadow: 0 0 5px 1px #0f0b09;
}

.card {
    padding: 20px;
    background-image: url("https://images.unsplash.com/photo-1533613220915-609f661a6fe1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80");
    background-size: cover;
    width: 300px;
    border-radius: 20px;
    border: 1px solid #ef8326;
    box-shadow: 1px 1px #ef8326;
    box-shadow: 2px 2px #ef8326;
    box-shadow: 3px 3px #ef8326;
    box-shadow: 4px 4px #ef8326;
}

h1 {
    padding: 20px;
    font-size: 20px;
}

h1 > span {
    font-family: 'Gloock', serif;
    font-size: 36px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding: 12px 0px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    width: 200px;
    margin: 8px 0;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #ef8326;
    border: 1px solid #ef8326;
    box-shadow: 1px 1px #ef8326;
    box-shadow: 2px 2px #ef8326;
    background: #0f0b09;
}

p {
    width: 85%;
    margin: 30px auto 10px auto;
}

#null-btn {
    margin: 40px 0 0 0;
    padding: 6px 0px;
    font-size: 12px;
    width: 100px;
}

